body{
    display: inline-block;
    width: 100%;
}

.naslov{
    font-size: x-large;
    color: green;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    width: 65%;

}

h2{
    font-size: small;
    color: gray;
    text-transform: uppercase;
    font-family: 'Muli', sans-serif;
    width: 65%;
}

h3{
    font-size: large;
    color: green;
    text-align: right;
    width: 35%;
}

ul{
    font: medium;
    color: black;
    text-align: left;
}
