h1{
    padding:20px;
    color:lightblue; 
}
p{
    padding:10px; 
    margin:20px; 
    background: lightcoral; 
    color:#FFFF;
}
ul{
    background: lightgreen;
}

h1{
    border:1px solid lightgrey;
    color: lightcoral;
}